In [30]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split

from sklearn.impute import KNNImputer,SimpleImputer
from sklearn.linear_model import LogisticRegression

from sklearn.metrics import accuracy_score

In [31]:
df = pd.read_csv('../train.csv')[['Age','Pclass','Fare','Survived']]
df

      Age  Pclass     Fare  Survived
0    22.0       3   7.2500         0
1    38.0       1  71.2833         1
2    26.0       3   7.9250         1
3    35.0       1  53.1000         1
4    35.0       3   8.0500         0
..    ...     ...      ...       ...
886  27.0       2  13.0000         0
887  19.0       1  30.0000         1
888   NaN       3  23.4500         0
889  26.0       1  30.0000         1
890  32.0       3   7.7500         0

[891 rows x 4 columns]

In [32]:
df.isnull().mean() * 100

Age         19.86532
Pclass       0.00000
Fare         0.00000
Survived     0.00000
dtype: float64

In [33]:
X = df.drop(columns=['Survived'])
y = df['Survived']

In [34]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=2)

# Using mean impute

In [35]:
si = SimpleImputer()

X_train_trf2 = si.fit_transform(X_train)
X_test_trf2 = si.transform(X_test)

In [36]:
lr = LogisticRegression()

lr.fit(X_train_trf2,y_train)

y_pred2 = lr.predict(X_test_trf2)

accuracy_score(y_test,y_pred2)

0.6927374301675978

# Using KNN impute

In [37]:
knn_impute = KNNImputer(n_neighbors=3,weights='distance')

X_train_trf = knn_impute.fit_transform(X_train)
X_test_trf = knn_impute.transform(X_test)

pd.DataFrame(X_test_trf,columns=X_train.columns)

           Age  Pclass     Fare
0    42.000000     1.0  26.2875
1    21.000000     3.0   8.0500
2    24.000000     2.0  65.0000
3    28.000000     3.0  56.4958
4    17.000000     3.0   7.9250
..         ...     ...      ...
174  24.000000     3.0   8.0500
175  22.000000     3.0   9.0000
176  27.477003     3.0  69.5500
177  26.000000     3.0   7.8958
178  29.000000     3.0  10.4625

[179 rows x 3 columns]

In [38]:
lr = LogisticRegression()

lr.fit(X_train_trf,y_train)

y_pred = lr.predict(X_test_trf)

accuracy_score(y_test,y_pred)

0.7150837988826816

# Best KNN Imputer

In [39]:
nNeighbour = [x for x in range(1,11)]
nNeighbour

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [40]:
def bestKNNImputer(X,y,nNeighbour):
    X_trainF, X_testF, y_trainF, y_testF =train_test_split(X,y,test_size=0.2,random_state=0)
    mini = 0
    minK = 0
    for neighbour in nNeighbour:
        knn = KNNImputer(n_neighbors=neighbour,weights='distance')
        
        X_train_trfF = knn.fit_transform(X_trainF)
        X_test_trfF = knn.transform(X_testF)
        
        lr = LogisticRegression()
        
        lr.fit(X_train_trfF,y_trainF)
        
        y_pred = lr.predict(X_test_trfF)
        
        acc = accuracy_score(y_testF,y_pred)
        
        if acc > mini:
            mini = acc
            minK = neighbour
    return minK, mini

In [41]:
bestK, accuracy = bestKNNImputer(X=X,y=y,nNeighbour=nNeighbour)
bestK, accuracy

(2, 0.7430167597765364)