In [30]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [31]:
df =pd.read_csv('../train.csv',usecols=['Age','Fare','SibSp','Parch','Survived'])
df

     Survived   Age  SibSp  Parch     Fare
0           0  22.0      1      0   7.2500
1           1  38.0      1      0  71.2833
2           1  26.0      0      0   7.9250
3           1  35.0      1      0  53.1000
4           0  35.0      0      0   8.0500
..        ...   ...    ...    ...      ...
886         0  27.0      0      0  13.0000
887         1  19.0      0      0  30.0000
888         0   NaN      1      2  23.4500
889         1  26.0      0      0  30.0000
890         0  32.0      0      0   7.7500

[891 rows x 5 columns]

In [32]:
df.dropna(inplace=True)

In [33]:
df

     Survived   Age  SibSp  Parch     Fare
0           0  22.0      1      0   7.2500
1           1  38.0      1      0  71.2833
2           1  26.0      0      0   7.9250
3           1  35.0      1      0  53.1000
4           0  35.0      0      0   8.0500
..        ...   ...    ...    ...      ...
885         0  39.0      0      5  29.1250
886         0  27.0      0      0  13.0000
887         1  19.0      0      0  30.0000
889         1  26.0      0      0  30.0000
890         0  32.0      0      0   7.7500

[714 rows x 5 columns]

In [34]:
df['family'] = df['SibSp'] + df['Parch']
df

     Survived   Age  SibSp  Parch     Fare  family
0           0  22.0      1      0   7.2500       1
1           1  38.0      1      0  71.2833       1
2           1  26.0      0      0   7.9250       0
3           1  35.0      1      0  53.1000       1
4           0  35.0      0      0   8.0500       0
..        ...   ...    ...    ...      ...     ...
885         0  39.0      0      5  29.1250       5
886         0  27.0      0      0  13.0000       0
887         1  19.0      0      0  30.0000       0
889         1  26.0      0      0  30.0000       0
890         0  32.0      0      0   7.7500       0

[714 rows x 6 columns]

In [35]:
X = df.iloc[:, 1:]
y = df.iloc[:, 0]

In [36]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

### Without using binarization

In [37]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
dtc = DecisionTreeClassifier()
dtc.fit(X_train,y_train)
y_pred = dtc.predict(X_test)
accuracy_score(y_test,y_pred)

0.6433566433566433

In [38]:
from sklearn.model_selection import cross_val_score
np.mean(cross_val_score(DecisionTreeClassifier(),X,y,scoring='accuracy'))

0.6372599231754161

# Applying Binarization

In [39]:
from sklearn.preprocessing import Binarizer
from sklearn.compose import ColumnTransformer

In [40]:
trf = ColumnTransformer([
    ('bin',Binarizer(copy=False),['family'])
],remainder='passthrough')

In [41]:
X_train_trf = trf.fit_transform(X_train)
X_test_trf = trf.transform(X_test)

In [42]:
X_train_trf

array([[  1.    ,  31.    ,   1.    ,   1.    ,  20.525 ],
       [  1.    ,  26.    ,   1.    ,   0.    ,  14.4542],
       [  1.    ,  30.    ,   1.    ,   0.    ,  16.1   ],
       ...,
       [  0.    ,  41.    ,   0.    ,   0.    , 134.5   ],
       [  1.    ,  33.    ,   1.    ,   1.    ,  20.525 ],
       [  0.    ,  33.    ,   0.    ,   0.    ,   7.8958]])

In [43]:
dtc = DecisionTreeClassifier()
dtc.fit(X_train_trf,y_train)
y_pred_trf = dtc.predict(X_test_trf)
accuracy_score(y_test,y_pred_trf)

0.6223776223776224